{
  "printWidth": 100,
  "singleQuote": true,
  "quoteProps": "consistent",
  "objectWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["*.md", "*.yml", "*.yaml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
